.header{
    display: flex;
    align-items: center;

}
.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo{
    max-height: 64px;
}
.title-group{
    padding-left: 30px;
}
.material-icons{
    padding: 5px;
    color: #5a198b;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0;
}

img{
    width: 120%;
}

